.naoEncontrada {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    padding-top: 30px;
}

.naoEncontrada p {
    margin-top: 0;
}